*.log
*_bin
.vscode/
rulex
rulex-*
.DS_Store
*.out
*.zip
rulex.db
rulex.exe
*.db
.idea
*.exe
*.bin
*.output
profile*
_release*
_build*
lua-log*
*.txt
plugin/http_server/www/*
!plugin/http_server/www/favicon.ico
!plugin/http_server/www/index.html
dist/
apps/*.lua
test/apps/*.lua
!test/apps/complex_data_push.lua
!test/apps/complex_data_push.lua
!test/apps/complex_data_push1.lua
!test/apps/data_udp_server.lua
!test/apps/hello_world.lua
!test/apps/match_hex.lua