*.log
*_bin
.vscode/
rulex
rulex-*
.DS_Store
*.out
*.zip
rulex.db
rulex.exe
*.db
.idea
*.exe
*.bin
*.output
profile*
_release*
_build*
lua-log*
*.txt
*.txt.gz
dist/
apps/*.lua
test/script/_temp/*
upload/*
