*.log
*_bin
.vscode/
rulex
rulex-*
.DS_Store
*.out
*.zip
rulex.db
rulex.exe
*.db
.idea
*.exe
*.bin
*.output
profile*
_release*
_build*
lua-log*
*.txt
*.txt.gz
plugin/http_server/www/*
plugin/http_server/server/www/*
dist/
apps/*.lua
plugin/http_server/www/index.html
plugin/http_server/server/www/index.html
test/script/_temp/*
upload/*
