<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Background Image DIV</title>
    <style>
        #myDiv1 {
            width: 960px;
            height: 540px;
            background-image: url('http://127.0.0.1:9401/jpeg_stream/pull?liveId=123a4509de8a99aa0f680cb5847e0765');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: black;
            border-color: aqua;
            border: 2px;
            background-position: center;
        }
    </style>

</head>

<body>
    <div id="myDiv1"></div>
</body>

</html>