<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Display</title>
    <style>
        .image-container {
            display: inline-block;
            margin: 10px;
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <h1>OpenCV MultiJpegStream Example</h1>

    <div class="image-container">
        <img src="http://127.0.0.1:9401/jpeg_stream/pull?liveId=123a4509de8a99aa0f680cb5847e0765" width="640"
            height="360" alt="">
    </div>
    <div class="image-container">
        <img src="http://127.0.0.1:9401/jpeg_stream/pull?liveId=123a4509de8a99aa0f680cb5847e0765" width="640"
            height="360" alt="">
    </div>
    <div class="image-container">
        <img src="http://127.0.0.1:9401/jpeg_stream/pull?liveId=123a4509de8a99aa0f680cb5847e0765" width="640"
            height="360" alt="">
    </div>
</body>

</html>