name: 1- 自动发布版本
on:
  push:
    tags:
      - 'V*' # Push events to matching v*, i.e. v1.0, v20.15.10


jobs:
  build:
    name: 自动发布版本
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.REL_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
